# Top-level deps (pin via requirements.txt)
transformers
accelerate
bitsandbytes
safetensors
optimum
ultralytics

datasets
pandas
scipy
numpy

sentencepiece
protobuf
tiktoken

gradio
jupyter
ipykernel
openai
matplotlib
tqdm

pynvml>=12.0.0

langchain
langchain-openai
langchain-ollama
python-dotenv
